<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- Main Head -->
<head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>
<!-- End Head -->

<body class="nk-body bg-lighter npc-general has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
            	<div th:replace="common/header :: menu"></div>
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                	<div th:replace="common/header :: header-top"></div>
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                            <div th:replace="fragments :: message"></div>
                            <div class="components-preview wide-md mx-auto">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">[[${pageTitle}]]</h3>
                                            <div class="nk-block-des text-soft">
                                                <p> Hiện có <span th:text="${countRows}">0</span> thông báo.</p>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <div class="toggle-wrap nk-block-tools-toggle">
                                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                                <div class="toggle-expand-content" data-content="pageMenu">
                                                    <ul class="nk-block-tools g-3">
                                                        <li class="nk-block-tools-opt">
                                                            <div class="drodown">
                                                                <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#newModal"><span>Tạo tin</span></a></li>
                                                                        <li><a href="#"><span>Thông báo đã hết hạn</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- .toggle-wrap -->
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block nk-block-lg">
                                       <div class="card card-bordered card-preview">
                                           <div class="card-inner">
											<table id="myDataTable" class="datatable-init-export nowrap table" data-auto-responsive="true" data-export-title="Export">
											</table>
											</div>
                                       </div><!-- .card-preview -->
                                   </div><!-- .nk-block -->
                                   
                            </div>
                        	</div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>

			<!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- select region modal -->
    <div class="modal fade" id="newModal">
        <div class="modal-dialog modal-lg modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Customer Info</h5>
                    <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <em class="icon ni ni-cross"></em>
                    </a>
                </div>
                <div class="modal-body modal-body-lg modal-body-md">
					<form action="#" class="form-validate is-alter" enctype="multipart/form-data">
						<input type="hidden" /> 
						<div class="row g-4">
							<div class="col-lg-6">
								<div class="form-group">
									<label class="form-label" for="fullname">Họ Tên</label>
									<div class="form-control-wrap">
										<input type="text" class="form-control" required id="fullname">
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="form-label" for="email">Tên đăng nhập</label>
									<div class="form-control-wrap">
										<input class="form-control" type="text" id=userName
											required>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="form-label" for="passwd">Mật khẩu</label>
									<div class="form-control-wrap">
										<input class="form-control" type="password" id=passwd
											required>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="form-label" for="email">Email</label>
									<div class="form-control-wrap">
										<input class="form-control" type="text" id=email
											required>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="form-label" for="phone">Số điện
										thoại</label>
									<div class="form-control-wrap">
										<input class="form-control" type="number" id="phone">
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="form-label" for="birthday">Ngày sinh</label>
									<div class="form-control-wrap">
										<div class="form-icon form-icon-left">
											<em class="icon ni ni-calendar"></em>
										</div>
										<input type="text" class="form-control date"
											id="birtDay" data-date-format="yyyy-mm-dd">
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="form-label" for="adress">Địa chỉ</label>
									<div class="form-control-wrap">
										<input type="text" class="form-control" id="addr">
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="form-label" for="idencard">Số
										CMND/CCCD</label>
									<div class="form-control-wrap">
										<input class="form-control" type="number"
											id="idenCard">
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="form-label" for="roles">Chức vụ</label>
									<div class="form-control-wrap">
										<select class="form-select js-select2" id="roles">
											<th:block th:each:="role : ${listRole}">
												 <option th:each="role : ${listRole}" th:value="${role.roleId}" th:text="${role.name}"></option>
											</th:block>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6 row">
								<div class="m-2">
									<img id="thumbnail" alt="Main image preview" class="img-fluid"
										width="200px" src="">
								</div>
								<div id="myfileupload">
									<label for="fileImage" class="custom-file-upload btn btn-sm btn-dim btn-light">Chọn ảnh</label> 
									<input type="file" id="fileImage" name="fileImage"
										
										accept="image/png , image/jpeg" />
								</div>
								<input type="hidden" id="photos" />
							</div>
							<div class="col-lg-12">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input"
										id="enable"> <label
										class="custom-control-label" for="enable">Kích
										hoạt tài khoản</label>
								</div>
							</div>
						</div>
						<div class="form-group mt-1 text-center">
							<a type="submit" id="btn-submit" class="btn btn-lg btn-primary">Lưu</a>
							<a href="#" id="cancelButton" class="btn btn-lg btn-warning"
								data-bs-dismiss="modal">Hủy</a>
						</div>
					</form>
				</div>
            </div>
        </div>
    </div>
    <!-- .modal -->
    <!-- JavaScript -->
    <script th:src="@{/js/bundle.js?ver=3.2.0}"></script>
    <script th:src="@{/js/scripts.js?ver=3.2.0}"></script>
	<script th:src="@{/js/libs/datatable-btns.js?ver=3.2.0}"></script>
    <script th:src="@{/js/example-sweetalert.js}"></script>

	<script th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
	
	<script th:src="@{/js/commom-list.js}"></script>
	<script th:src="@{/js/commom-form.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/notice}]]";
		contextPath = "[[@{/}]]";
		MAX_FILE_SIZE = 10485760;
		
		defaultImageThumbnailSrc = "[[@{/images/default-image.jpg}]]";
		
		function checkFileSize(input) {
		    const file = input.files[0];
		    const maxSize = 5 * 1024 * 1024; // 5 MB

		    if (file && file.size > maxSize) {
		        alert("Kích thước tệp tin quá lớn. Vui lòng chọn tệp tin nhỏ hơn 5MB.");
		        input.value = ''; // Xóa tệp tin đã chọn
		    }
		}

		function fetchDataById(id, callback) {
			var url = contextPath + "8010/" + id.toString();
			$
					.ajax({
						type : "Get",
						url : url,
						dataType : 'json',
						beforeSend : function(xhr) {
							var token = $("meta[name='_csrf']").attr("content");
							var header = $("meta[name='_csrf_header']").attr(
									"content");
							xhr.setRequestHeader(header, token);
						},
						success : function(response) {
							callback(response);
						},
						error : function(xhr, status, error) {
							Swal.fire({
								icon : 'error',
								title : xhr.responseText
							});
						}
					});
		}

		$("#cancelButton").click(function() {
			$(".date").datepicker({
				format : 'dd-mm-yyyy'
			});
			$("#title").prop("readonly", false);
			$("#contentHidden").html("");
			$("#sdate").prop("readonly", false);
			$("#edate").prop("readonly", false);
			$("#enable").prop("disabled", false);
			$("#poppup").prop("disabled", false);

			$(".title").text("Tạo mới tin tức");
			$("#title").val("");
			$("#content").summernote('code', '');
			$("#sdate").val("");
			$("#edate").val("");
			$("#enable").prop("checked", false);
			$("#poppup").prop("checked", false);
		});

		function openEditModal(id) {
			$(".title").text("Chỉnh sửa thông báo");
			$("#nt_id").val(id)
			fetchDataById(id, function(dataToEdit) {
				$("#title").val(dataToEdit.title);
				$("#sdate").datepicker("setDate",
						new Date(dataToEdit.startDate));
				$("#edate").datepicker("setDate",
						new Date(dataToEdit.startDate));
				$("#enable").prop("checked", dataToEdit.isEnabled === "Y");
				$("#poppup").prop("checked", dataToEdit.isPoppup === "Y");

				$("#newModal").modal("show");
			});
		}

		function openInfoModal(id) {
			$(".title").text("Chi tiết thông báo");
			$("#nt_id").val(id)
			fetchDataById(id, function(dataToEdit) {
				$("#title").val(dataToEdit.title);
				$("#contentHidden").html(dataToEdit.content);
				$("#sdate").datepicker("setDate",
						new Date(dataToEdit.startDate));
				$("#edate").datepicker("setDate",
						new Date(dataToEdit.startDate));
				$("#enable").prop("checked", dataToEdit.isEnabled === "Y");
				$("#poppup").prop("checked", dataToEdit.isPoppup === "Y");

				$("#title").prop("readonly", true);
				$("#content").css("display", "none");
				$("#sdate").datepicker("destroy");
				$("#edate").datepicker("destroy");
				$("#enable").prop("disabled", true);
				$("#poppup").prop("disabled", true);

				$("#newModal").modal("show");
			});
		}

		function loaddata() {

			var dataTableOptions = {
				responsive : {
					details : false
				},

				buttons : [ {
					extend : 'print',
					exportOptions : {
						columns : ':visible:not(:lt(1))'
					}
				}, {
					extend : 'excel',
					exportOptions : {
						columns : ':visible:not(:lt(1))'
					}
				}, {
					extend : 'colvis',
					exportOptions : {
						columns : ':visible:not(:lt(1))'
					}
				}, ],
				fixedColumns : {
					leftColumns : 2
				}
			};
			var mergedOptions = Object.assign({}, mergedOptions,
					dataTableOptions);

			var arr = [ {
				title : "Action",
				field : null,
				delEdit : true,
				className : "text-center",
				name : "title"
			}, {
				title : "User Id",
				field : "userId"
			}, {
				title : "User Name",
				field : "userName"
			}, {
				title : "Img",
				field : "fileName"
			}, {
				title : "Email",
				field : "email"
			}, {
				title : "Adress",
				field : "adress"
			}, {
				title : "Phone",
				field : "phone"
			}, {
				title : "Bith Day",
				field : "birthDay"
			}, {
				title : "Status",
				field : "enabled"
			}, {
				title : "Work User",
				field : "workUser"
			}, {
				title : "Update Time",
				field : "updatedTime"
			}, {
				title : "Create Time",
				field : "createdTime"
			}, ];
			var arrURL = {
				api : "/1010",
				urlDel : "/8010/delete/"
			};
			NioApp.DataTable.initWithUrlAndArr('.datatable-init-export',
					arrURL, arr, mergedOptions);
		}

		$(document).ready(function() {
			$(".date").datepicker({
				format : 'dd-mm-yyyy'
			});

			$("#btn-submit").click(function() {
				var formData = new FormData();
				
				formData.append('userSave', new Blob([JSON.stringify({
					"userName" : $("#userName").val(),
					"passwd"   : $("#passwd").val(),
					"email"    : $("#email").val(),
					"birtDay"  : $("#birtDay").val(),
					"addr"     : $("#addr").val(),
					"phone"    : $("#phone").val(),  
					"idenCard" : $("#idenCard").val(),
					"delYN"    : "Y",
					"editYN"   : "Y",
					"enable"   : $("#enable").is(":checked"),
					"useYN"    : "Y",
					"roleId"   : $("#roles").val()
				})], {
						type: "application/json"
					}));

				/* formData.append("userName", $("#userName").val());
				formData.append("passwd", $("#passwd").val());
				formData.append("email", $("#email").val());
				formData.append("birtDay", $("#birtDay").val());
				formData.append("addr", $("#addr").val());
				formData.append("phone", $("#phone").val());
				formData.append("idenCard", $("#idenCard").val());
				formData.append("delYN", "Y");
				formData.append("editYN", "Y");
				formData.append("enable", ($("#enable").is(":checked") ? "Y" : "N"));
				formData.append("useYN", "Y");
				formData.append("roleId", $("#roles").val()); */

				var fileInput = document.getElementById("fileImage");
				formData.append("fileImage", fileInput.files[0]);
				console.log(formData)

				save("/1010/save", formData);
			});

			loaddata();

			$(document).on("click", ".link-delete", function(e) {
				e.preventDefault();
				var entityName = $(this).attr("data-entityName");
				showDeleteConfirm($(this), entityName, moduleURL);

			});
		});
	</script>
	
</body>

</html>