<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- Main Head -->
<head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>
<!-- End Head -->
<body class="nk-body bg-lighter npc-general has-sidebar ">
	<div class="nk-app-root">
		<!-- main @s -->
		<div class="nk-main ">
			<!-- sidebar @s -->
			<div th:replace="common/header :: menu"></div>
			<!-- sidebar @e -->
			<!-- wrap @s -->
			<div class="nk-wrap ">
				<!-- main header @s -->
				<div th:replace="common/header :: header-top"></div>
				<!-- main header @e -->
				<!-- content @s -->
				<div class="nk-content ">
					<div class="container-fluid">
						<div class="nk-content-inner">
							<div class="nk-content-body">
								<div class="components-preview wide-md mx-auto">
									<div class="nk-block nk-block-lg">
										<div class="nk-block-head">
											<div class="nk-block-head-content">
												<h4 class="title nk-block-title" th:text="${pageTitle}"></h4>
											</div>
										</div>
										<div class="card card-bordered card-preview">
											<form action="#" id="formPdt" th:object="${pdt}" enctype="multipart/form-data">
												<input type="hidden" id="pdtId" th:field="*{pdtId}"/>
												<div class="card-inner">
													<div class="card-inner">
														<ul class="nav nav-tabs mt-n3">
															<li class="nav-item"><a class="nav-link active"
																data-bs-toggle="tab" href="#tabItem5"><em
																	class="icon ni ni-note-add"></em><span>Thông tin cơ bản</span></a></li>
															<li class="nav-item"><a class="nav-link"
																data-bs-toggle="tab" href="#tabItem6"><em
																	class="icon ni ni-edit"></em><span>Nội dung</span></a></li>
															<li class="nav-item"><a class="nav-link"
																data-bs-toggle="tab" href="#tabItem7"><em
																	class="icon ni ni-img"></em><span>Hình ảnh</span></a></li>
															<li class="nav-item"><a class="nav-link"
																data-bs-toggle="tab" href="#tabItem8"><em
																	class="icon ni ni-property-add"></em><span>Chi tiết</span></a></li>
														</ul>

													</div>
													<div class="tab-content">
														<div class="tab-pane active" id="tabItem5">
															<div class="row g-4">
																<div class="col-lg-6">
																	<div class="form-group">
																		<label class="form-label" for="name">Tên sản phẩm</label>
																		<div class="form-control-wrap">
																			<input type="text" class="form-control" id="name" th:field="*{name}" required >
																		</div>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="form-group">
																		<label class="form-label" for="alias">Tên định danh</label>
																		<div class="form-control-wrap">
																			<input type="text" class="form-control" id="alias" th:field="*{alias}" required >
																		</div>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="form-group">
																		<label class="form-label">Thương hiệu</label>
																		<div class="form-control-wrap">
																			<select class="form-select js-select2" id="brandId" th:field="*{brandId}" required>
																				<th:block th:each:="brand : ${listBrand}">
																					<option th:each="brand : ${listBrand}" th:value="${brand.brandId}" th:text="${brand.name}"></option>
																				</th:block>
																			</select>
																		</div>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="form-group">
																		<label class="form-label">Danh mục</label>
																		<div class="form-control-wrap">
																			<select class="form-select js-select2" id="categoryId" th:field="*{categoryId}" required>
																			</select> 
																		</div>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="form-group">
																		<label class="form-label" for="cost">Giá nhập</label>
																		<div class="form-control-wrap">
																			<input type="number" class="form-control formatNumber" id="cost" th:field="*{cost}">
																		</div>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="form-group">
																		<label class="form-label" for="price">Giá bán</label>
																		<div class="form-control-wrap">
																			<input type="number" class="form-control formatNumber" id="price" th:field="*{price}" required="required" maxlength="8">
																		</div>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="form-group">
																		<label class="form-label" for="disPer">Giảm giá</label>
																		<div class="form-control-wrap">
																			<input type="number" class="form-control formatNumber" id="disPer" th:field="*{disPer}">
																		</div>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="form-group">
																		<label class="form-label" for="qty">Số lượng</label>
																		<div class="form-control-wrap">
																			<input type="number" class="form-control" step="1" maxlength="45" id="qty" th:field="*{qty}">
																		</div>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="form-group">
																		<label class="form-label">Loại sản phẩm</label>
																		<div class="form-control-wrap">
																			<select class="form-select js-select2" id="pdtKind" th:field="*{pdtKind}">
																				<option value="A01" >Sản phẩm thông thường</option>
																				<option value="B01" >Sản phẩm nổi bật</option>
																				<option value="D01" >Sản phẩm ưu tiên</option>
																			</select>
																		</div>
																	</div>
																</div>
																<div class="col-lg-12">
																	<div class="custom-control custom-switch">
																		<input type="checkbox" class="custom-control-input" id="enabled" >
																		<label class="custom-control-label" for="enabled">Mở khóa sản phẩm</label>
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="tabItem6">
															<div class="ccc">
																<div class="m-2">
																	<label class="tableCodeFalse">Tiêu đề</label>
																	<textarea class="form-control" id="shortDes" th:field="*{shortDes}" rows="2"></textarea>
																</div>
																<div class="m-2">
																	<label>Nội dung</label>
																	<textarea class="summernote1" id="fullDes" th:field="*{fullDes}" rows="5"> </textarea>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="tabItem7">
															<div class="row g-4" id="divProductImages">
																<div class="col border m-3 p-2">
																	<div>
																		<label class="tableCodeFalse">Ảnh đại diện:</label>
																	</div>
																	<div class="m-2">
																		<img id="thumbnail" alt="Main image preview" class="img-fluid" width="200px" th:src="@{'/'+${pdt.filePath}}">
																	</div>
																	<div id="myfileupload">
																		<label for="imgupload" class="custom-file-upload btn btn-sm btn-dim btn-light">Chọn ảnh</label> 
																		<input type="file" id="imgupload" accept="image/png , image/jpeg" style="display: none"/>
																	</div>
																</div>
																<div class="col border m-3 p-2">
																	<div class="form-control-wrap">
																		<div class="form-file">
																			<input type="file" style="display: none" id="fileInput" multiple accept="image/*">
																			<button type="button" id="addFileBtn">Thêm tệp</button>
																		</div>
																		<div id="imagePreviews"></div>
																	</div>
																</div>


															</div>
														</div>
														<div class="tab-pane" id="tabItem8">
															<div id="divProductDetails">
																<th:block th:each="detail : ${listDetail}">
																	<div class="form-inline" >
																		<label class="m-3">Thuộc tính:</label>
																		<input type="text" class="form-control w-25" name="detailNames" th:value="${detail.detailName}" maxlength="255" placeholder="vd: Ram" />
																		<label class="m-3">Dữ liệu:</label>
																		<input type="text" class="form-control w-25" name="detailValues" th:value="${detail.detailValue}" maxlength="255" placeholder="vd: 8GB" />
																	</div>
																</th:block>
															</div>
														<div>
															<input type="button" class="btn btn-primary" value="+" onclick="addDetail()" />
														</div>
														</div>
													</div>
												</div>
												<div class="col-12 text-center pb-3">
													<button type="submit" class="btn btn-lg btn-primary">Lưu</button>
													<a class="btn btn-outline-light m-1">Hủy</a>
												</div>
											</form>
										</div>
										<!-- .card-preview -->
									</div>
									<!-- .nk-block -->
								</div>
								<!-- .components-preview -->
							</div>
						</div>
					</div>
				</div>
				<!-- content @e -->
			</div>
			<!-- wrap @e -->
			
		</div>
		<!-- main @e -->
	</div>
	<!-- app-root @e -->
	<!-- JavaScript -->
	<script th:src="@{/js/bundle.js?ver=3.2.0}"></script>
	<script th:src="@{/js/scripts.js?ver=3.2.0}"></script>
	<script th:src="@{/js/libs/editors/summernote.js}"></script>
	
	<script th:src="@{/js/commom-form.js}"></script>
	<script th:src="@{/js/commom-list.js}"></script>

	<script th:src="@{/js/product_form_images.js}"></script>
	<script th:src="@{/js/product_form_overview.js}"></script>
	<script th:src="@{/js/product_form_details.js}"></script>
	
<script type="text/javascript">
	contextPath = "[[@{/}]]";
	MAX_FILE_SIZE = 5242880; // 5MB
	var csrfHeaderName = "[[${_csrf.headerName}]]";
	var csrfValue = "[[${_csrf.token}]]";
	
	moduleURL = "[[@{/products}]]";
	brandModuleURL = "[[@{/brands}]]";
	defaultImageThumbnailSrc = "[[@{/images/default-image.jpg}]]";
	checkUniqueUrl = "[[@{/products/check_unique}]]";
	
	$('#fullDes').summernote({
		minHeight: 150,
	});
	
	function readURL(input) {
		var file = input.files[0];
		var reader = new FileReader();
		reader.onload = function (e) {
			$('#thumbnail').attr('src', e.target.result);
		}
		reader.readAsDataURL(file);
	}
	
	$(document).ready(function() {
		var brandId = $("#brandId").val();
		listCate("/listCate", brandId);
		
		$('#imgupload').change(function(){
			 readURL(this);
		});
		
		$("#brandId").change(function() {
			$("#categoryId").empty();
			var selectedBrand = $(this).val();
			
			listCate("/listCate", selectedBrand);
		});
		
		var filesArray = [];
		
		$('#fileInput').on('change', function() {
			var files = $(this)[0].files;
			for (var i = 0; i < files.length; i++) {
				filesArray.push(files[i]); // Thêm tệp vào mảng
				displayImagePreview(files[i]); // Hiển thị ảnh đã chọn
			}
			$(this).val(''); // Xóa giá trị của input file để cho phép chọn lại cùng một tệp
		});

		$('#addFileBtn').on('click', function() {
			$('#fileInput').click();
		});

		function displayImagePreview(file) {
			var reader = new FileReader();
			reader.onload = function(e) {
				var img = $('<img>').attr('src', e.target.result);
				var deleteBtn = $('<button>').text('Xoá').on('click', function() {
					// Xoá ảnh khỏi mảng và cả giao diện
					var index = filesArray.indexOf(file);
					if (index !== -1) {
						filesArray.splice(index, 1);
						$(this).prev('img').remove();
						$(this).remove();
					}
				});
				$('#imagePreviews').append(img).append(deleteBtn);
			};
			reader.readAsDataURL(file);
		};

		
		$('#formPdt').on('submit', function(e) {
			e.preventDefault();
			var form0 = $('#formPdt')[0];
			var data = new FormData(form0);
			var index = 0;
			$('.form-inline').each(function() {
			
				const name = $(this).find("input[name=detailNames]").val();
				const value = $(this).find("input[name=detailValues]").val();
				
				if (name !== undefined && value !== undefined && name.trim() !== "" && value.trim() !== "") {
					data.append(`pdtDetails[${index}].name`, name);
					data.append(`pdtDetails[${index}].value`, value);
					index++;
				}
			});
			
			var fileInput = document.getElementById("imgupload");
			data.append("enabled", ($("#enabled").is(":checked") ? "Y" : "N"));
			data.append("delYn", "Y");
			data.append("editYn", "Y");
			data.append("inStock", "Y");
			data.append("fileMainImage", fileInput.files[0]);
			for (var i = 0; i < filesArray.length; i++) {
				data.append('fileExtraImage', filesArray[i]);
			}
			
			save("/2030/save", data);
		});
	});
</script>
	
</body>

</html>