<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- Main Head -->
<head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>
<!-- End Head -->

<body class="nk-body bg-lighter npc-general has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
            	<div th:replace="common/header :: menu"></div>
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                	<div th:replace="common/header :: header-top"></div>
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                            <div th:replace="fragments :: message"></div>
                            <div class="components-preview wide-md mx-auto">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Danh sách thông báo</h3>
                                            <div class="nk-block-des text-soft">
                                                <p> Hiện có <span th:text="${countRows}">0</span> thông báo.</p>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <div class="toggle-wrap nk-block-tools-toggle">
                                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                                <div class="toggle-expand-content" data-content="pageMenu">
                                                    <ul class="nk-block-tools g-3">
                                                        <li class="nk-block-tools-opt">
                                                            <a href="#" data-target="addProduct" class="toggle btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                                            <a href="#" data-target="addProduct" class="toggle btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Add Notice</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- .toggle-wrap -->
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block nk-block-lg">
                                       <div class="card card-bordered card-preview">
                                           <div class="card-inner">
											<table id="myDataTable" class="datatable-init-export nowrap table" data-auto-responsive="true" data-export-title="Export">
											</table>
											</div>
                                       </div><!-- .card-preview -->
                                   </div><!-- .nk-block -->
                                   
                                   <div class="nk-add-product toggle-slide toggle-slide-right" data-content="addProduct" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="nk-block-title">New Product</h5>
                                            <div class="nk-block-des">
                                                <p>Add information and add new product.</p>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="row g-3">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="product-title">Title</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="title">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="product-title">Content</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="content">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Start Date</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control date" id="sdate">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">End Date</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control date" id="edate">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Enable</label>
                                                    <div class="form-control-wrap">
                                                        <input type="checkbox" id="enabled">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">poppup</label>
                                                    <div class="form-control-wrap">
                                                        <input type="checkbox"  id="poppup">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary" id="btn-submit"><em class="icon ni ni-plus"></em><span>Add New</span></button>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block -->
                                </div>
                            </div>
                        	</div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>

			<!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- select region modal -->
    
    <!-- .modal -->
    <!-- JavaScript -->
    <script th:src="@{/js/bundle.js?ver=3.2.0}"></script>
    <script th:src="@{/js/scripts.js?ver=3.2.0}"></script>
	<script th:src="@{/js/libs/datatable-btns.js?ver=3.2.0}"></script>
    <script th:src="@{/js/example-sweetalert.js}"></script>

	<script th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
	
	<script th:src="@{/js/commom-list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/notice}]]";
		
		$(document).ready(function() {
			$( ".date" ).datepicker({format: 'dd-mm-yyyy' });
			
			$("#btn-submit").click(function () {
				var data = {
						title: $("#title").val(),
						content: $("#content").val(),
						sDate: $("#sdate").val(),
						eDate: $("#edate").val(),
						enable: ($("#enabled").is(":checked")?  "Y":"N"),
						popup: ($("#poppup").is(":checked")?  "Y":"N")
				};
				save("/board/save", data);
			});
			
			$(document).on("click", ".link-delete", function(e) {
				e.preventDefault();
				var entityName = $(this).attr("data-entityName");
				showDeleteConfirm($(this), entityName, moduleURL);
			});
			
			var dataTableOptions = {
		            responsive: {
		                details: false
		            },
		            
		            buttons: [
		                {
		                    extend: 'print',
		                    exportOptions: {
		                        columns: ':visible:not(:lt(1))'
		                    }
		                },
		                {
		                    extend: 'excel',
		                    exportOptions: {
		                        columns: ':visible:not(:lt(1))'
		                    }
		                },
		                {
		                    extend: 'colvis',
		                    exportOptions: {
		                        columns: ':visible:not(:lt(1))'
		                    }
		                },
		            ],
		            fixedColumns: {
						leftColumns: 2
					}
		        };
			var mergedOptions = Object.assign({}, mergedOptions, dataTableOptions);

			
			var arr = [ {title:"Action", field: null, className: "text-center", name:"title"},
						{title:"Title", field:"title"},
						{title:"Content", field:"content"},
						{title:"Start Date", field:"startDate"},
						{title:"End Date", field:"endDate"}];
			var arrURL = {api: "/notice/8010", urlInfo: "/8010/", urlEdit: "/8010/", urlDel: "/8010/delete/"};
			NioApp.DataTable.initWithUrlAndArr('.datatable-init-export', arrURL, arr, mergedOptions);
		});
		
	</script>

</body>

</html>