<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- Main Head -->
<head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>
<!-- End Head -->

<body class="nk-body bg-lighter npc-general has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
            	<div th:replace="common/header :: menu"></div>
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                	<div th:replace="common/header :: header-top"></div>
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                            <div th:replace="fragments :: message"></div>
                            <div class="components-preview wide-md mx-auto">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Danh sách thông báo</h3>
                                            <div class="nk-block-des text-soft">
                                                <p> Hiện có <span th:text="${countRows}">0</span> thông báo.</p>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <div class="toggle-wrap nk-block-tools-toggle">
                                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                                <div class="toggle-expand-content" data-content="pageMenu">
                                                    <ul class="nk-block-tools g-3">
                                                        <li class="nk-block-tools-opt">
                                                            <div class="drodown">
                                                                <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#newModal"><span>Tạo tin</span></a></li>
                                                                        <li><a href="#"><span>Thông báo đã hết hạn</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- .toggle-wrap -->
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block nk-block-lg">
                                       <div class="card card-bordered card-preview">
                                           <div class="card-inner">
											<table id="myDataTable" class="datatable-init-export nowrap table" data-auto-responsive="true" data-export-title="Export">
											</table>
											</div>
                                       </div><!-- .card-preview -->
                                   </div><!-- .nk-block -->
                                   
                            </div>
                        	</div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>

			<!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- select region modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="newModal" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
				<div class="modal-body modal-body-md">
					<h4 class="title">Tạo mới tin tức</h4>
					<form action="#" class="form-validate is-alter">
						<input type='hidden' id="nt_id"/>
						<ul class="nk-nav nav nav-tabs">
							<li class="nav-item"><a class="nav-link active"
								data-bs-toggle="tab" href="#tabItem1">Thông tin cơ bản</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tabItem1">
								<div class="form-group">
									<label class="form-label" for="full-name">Title</label>
									<div class="form-control-wrap">
										<textarea class="form-control" rows="5" id="title"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="form-label" for="full-name">Content</label>
									<div class="form-control-wrap">
										<textarea class="summernote1" id="content" rows="5"> </textarea>
										<div id="contentHidden"></div>
									</div>
								</div>
								<div class="form-group">
									<label class="form-label">Communication</label>
									<ul class="custom-control-group g-3 align-center">
										<li>
											<input type="checkbox" class="" id="enable">
											<label class="">Enable</label>
										</li>
										<li>
											<input type="checkbox" class="" id="poppup">
											<label class="">Poppup</label>
										</li>
									</ul>
								</div>
								<div class="row form-group">
									<div class="col-md-6">
										<label class="form-label">Start Date</label>
										<input type="text" class="date form-control" id="sdate">
									</div>
									<div class="col-md-6">
										<label class="form-label">End Date</label>
										<input type="text" class="date form-control" id="edate">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group mt-1 text-center">
							<a type="submit" id="btn-submit" class="btn btn-lg btn-primary">Lưu</a>
							<a href="#" id="cancelButton" class="btn btn-lg btn-warning" data-bs-dismiss="modal">Hủy</a>
						</div>
					</form>
				</div>
			</div>
        </div>
    </div>
    <!-- .modal -->
    <!-- JavaScript -->
    <script th:src="@{/js/bundle.js?ver=3.2.0}"></script>
    <script th:src="@{/js/scripts.js?ver=3.2.0}"></script>
	<script th:src="@{/js/libs/datatable-btns.js?ver=3.2.0}"></script>
    <script th:src="@{/js/example-sweetalert.js}"></script>

	<script th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
	
	<script th:src="@{/js/commom-list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/notice}]]";
		contextPath = "[[@{/}]]";
		
		function fetchDataById(id, callback){
			var url = contextPath+ "8010/"+id.toString();
			$.ajax({
				type: "Get",
				url: url,
				dataType: 'json',
				beforeSend: function(xhr) {
					var token = $("meta[name='_csrf']").attr("content");
					var header = $("meta[name='_csrf_header']").attr("content");
					xhr.setRequestHeader(header, token);
				},
				success: function(response) {
					callback(response);
				},
				error: function(xhr, status, error) {
					Swal.fire({icon: 'error', title: xhr.responseText});
				}
			});
		}
		
		$("#cancelButton").click(function () {
			$( ".date" ).datepicker({format: 'dd-mm-yyyy' });
			$("#title").prop("readonly", false);
			$("#contentHidden").html("");
			$("#sdate").prop("readonly", false);
			$("#edate").prop("readonly", false);
			$("#enable").prop( "disabled", false );
			$("#poppup").prop( "disabled", false);
			
			$(".title").text("Tạo mới tin tức");
			$("#title").val("");
			$("#content").summernote('code', '');
			$("#sdate").val("");
			$("#edate").val("");
			$("#enable").prop("checked", false);
			$("#poppup").prop("checked", false);
		});
		
		function openEditModal(id) {
			$(".title").text("Chỉnh sửa thông báo");
			$("#nt_id").val(id)
			fetchDataById(id, function (dataToEdit) {
				$("#title").val(dataToEdit.title);
				$("#content").summernote('code', dataToEdit.content)
				$("#sdate").datepicker("setDate", new Date(dataToEdit.startDate));
				$("#edate").datepicker("setDate", new Date(dataToEdit.startDate));
				$("#enable").prop("checked", dataToEdit.isEnabled === "Y");
				$("#poppup").prop("checked", dataToEdit.isPoppup === "Y");
				
				$("#newModal").modal("show");
			});
		}
		
		function openInfoModal(id) {
			$(".title").text("Chi tiết thông báo");
			$("#nt_id").val(id)
			fetchDataById(id, function (dataToEdit) {
				$("#title").val(dataToEdit.title);
				$("#contentHidden").html(dataToEdit.content);
				$("#sdate").datepicker("setDate", new Date(dataToEdit.startDate));
				$("#edate").datepicker("setDate", new Date(dataToEdit.startDate));
				$("#enable").prop("checked", dataToEdit.isEnabled === "Y");
				$("#poppup").prop("checked", dataToEdit.isPoppup === "Y");
				
				$("#title").prop("readonly", true);
				$("#content").summernote('destroy');
				$("#content").css("display", "none");
				$("#sdate").datepicker("destroy");
				$("#edate").datepicker("destroy");
				$("#enable").prop( "disabled", true );
				$("#poppup").prop( "disabled", true );
				
				$("#newModal").modal("show");
			});
		}
		
		function loaddata(){
			
			var dataTableOptions = {
						responsive: {
							details: false
						},
						
						buttons: [
							{
								extend: 'print',
								exportOptions: {
									columns: ':visible:not(:lt(1))'
								}
							},
							{
								extend: 'excel',
								exportOptions: {
									columns: ':visible:not(:lt(1))'
								}
							},
							{
								extend: 'colvis',
								exportOptions: {
								columns: ':visible:not(:lt(1))'
								}
							},
						],
						fixedColumns: {
						leftColumns: 2
					}
		 	};
			var mergedOptions = Object.assign({}, mergedOptions, dataTableOptions);
			
			var arr = [ {title:"Action", field: null, delEdit: true, className: "text-center", name:"title"},
						{title:"Title", field:"title"},
						{title:"Content", field:"content"},
						{title:"Start Date", field:"startDate"},
						{title:"End Date", field:"endDate"}];
			var arrURL = {api: "/notice/8010", urlDel: "/8010/delete/"};
			NioApp.DataTable.initWithUrlAndArr('.datatable-init-export', arrURL, arr, mergedOptions);
		}
		
		$(document).ready(function() {
			$('#content').summernote({
				minHeight : 150,
			});
			$( ".date" ).datepicker({format: 'dd-mm-yyyy' });
			
			$("#btn-submit").click(function () {
				var data = {
						ntId: $("#nt_id").val(),
						title: $("#title").val(),
						content: $("#content").val(),
						sDate: $("#sdate").val(),
						eDate: $("#edate").val(),
						enable: ($("#enable").is(":checked")?  "Y":"N"),
						popup: ($("#poppup").is(":checked")?  "Y":"N")
				};
				
				save("/board/save", data);
			});
			
			loaddata();
			
			$(document).on("click", ".link-delete", function(e) {
				e.preventDefault();
				var entityName = $(this).attr("data-entityName");
				showDeleteConfirm($(this), entityName, moduleURL);
				
			});
		});
		
	</script>
	
	<script th:src="@{/js/libs/editors/summernote.js}"></script>

</body>

</html>